<table>
    <tr>
        <th>number</th>
        <th>text</th>
    </tr>

    <?php foreach($list as $item): ?>
        <tr>
            <td><?= $item->getNumber(); ?></td>
            <td><?= $item->getText(); ?></td>
            <td>
                <a href="/note/<?= $item->getId(); ?>">edit</a> | <a href="/note/<?= $item->getId(); ?>/remove">&times;</a>
            </td>
        </tr>
    <?php endforeach; ?>

</table>
<br>
<a href="/form">+</a>
<br>
<p>
    Test of <a href="/service-di">dependency injection</a>.
</p>