<a href="/">&laquo;</a><br>
<form action="<?= $idx; ?>" method="post">
    <input type="number" name="number" min="0" max="10" step="1" value="<?= $number; ?>" />
    <br>
    <textarea name="text"><?= $text; ?></textarea>
    <br>
    <input type="submit" value="Send" />
</form>